
.channel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

.channel {
    cursor: pointer;
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 5px;
    text-align: center;
}

.channel:hover {
    background: steelblue;
    color: white;
    border: 1px solid transparent;
}