
.lights {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    width: 350px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.1)
}

.lights li {
    list-style: none;
    height: calc(50% - 15px);
    width: calc(50% - 15px);
    border-radius: 100%;
    border: 1px solid black;
    opacity: 0.5;
}

.lights li.active {
    opacity: 1.0;
}

.red-light {
    background: #EB4D5C;
}

.green-light {
    background: #00AA8F;
}

.blue-light {
    background: #39499B;
}

.yellow-light {
    background: #EFEB3E;
}