

#fruits {
    padding: 0;
    margin: 0;
}


.fruit {
    display: inline-flex;
    width: 100px;
    height: 160px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    font-size: .7em;
    cursor: pointer;
}

.fruit.order {
    height: 200px;
    justify-content: space-between;
    cursor: default;
}

.price {
    font-weight: bold;
}

.fruit:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
}

.fruit .name {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.fruit img {
    max-width: 100%;
    max-height: 70px;
    margin-top: 10px;
}

.fruit button {
    margin-bottom: 5px;
}
